fastapi
uvicorn[standard]
curl_cffi
pydantic
yfinance
langchain-core
langchain-openai
langchain-community
langchain-huggingface
faiss-cpu
beautifulsoup4
requests
pandas
ta
numpy
python-dotenv
smartapi-python
pyotp
langgraph
